= "Length: #{@grid.length}"
= "Width: #{@grid.width}"
%br
= link_to 'Add Victory Description', '#'
%br
= link_to 'Add Defeat Description', '#'
%br
= link_to 'Add Box', '#'
%br
= link_to 'Add NPC', '#'
%br
= link_to 'Add Item', '#'
%br
