.container-fluid.text-center
  .row
    .col-xs-5.col-xs-offset-1.text-left
      - if @box.npc && !@box.npc.stat.dead?
        = link_to SimpleEngine::COMBAT_ACTIONS[0].humanize, edit_game_path(id: @game.id, game_action: SimpleEngine::COMBAT_ACTIONS[0])
      - else
        = SimpleEngine::COMBAT_ACTIONS[0].humanize
    .col-xs-5.text-right
      - if @box.npc && !@box.npc.stat.dead?
        = link_to SimpleEngine::COMBAT_ACTIONS[1].humanize, edit_game_path(id: @game.id, game_action: SimpleEngine::COMBAT_ACTIONS[1])
      - else
        = SimpleEngine::COMBAT_ACTIONS[1].humanize

  .row
    .col-xs-2.col-xs-offset-3
    .col-xs-2
      - if @box.paths.include?('n') && (!@box.npc || @box.npc.stat.dead?)
        = link_to 'North', edit_game_path(id: @game.id, game_action: 'n')
      - else
        North
    .col-xs-2

  .row
    .col-xs-2.col-xs-offset-3
      - if @box.paths.include?('w') && (!@box.npc || @box.npc.stat.dead?)
        = link_to 'West', edit_game_path(id: @game.id, game_action: 'w')
      - else
        West
    .col-xs-2
    .col-xs-2
      - if @box.paths.include?('e') && (!@box.npc || @box.npc.stat.dead?)
        = link_to 'East', edit_game_path(id: @game.id, game_action: 'e')
      - else
        East

  .row
    .col-xs-2.col-xs-offset-3
    .col-xs-2
      - if @box.paths.include?('s') && (!@box.npc || @box.npc.stat.dead?)
        = link_to 'South', edit_game_path(id: @game.id, game_action: 's')
      - else
        South
    .col-xs-2

  .row
    .col-xs-5.col-xs-offset-1.text-left
      - if @box.npc && !@box.npc.stat.dead?
        = link_to SimpleEngine::COMBAT_ACTIONS[2].humanize, edit_game_path(id: @game.id, game_action: SimpleEngine::COMBAT_ACTIONS[2])
      - else
        = SimpleEngine::COMBAT_ACTIONS[2].humanize
    .col-xs-5.text-right
      - if @box.npc && !@box.npc.stat.dead?
        = link_to 'Run', edit_game_path(id: @game.id, game_action: 'run')
      - else
        Run
