%strong
  Status
%br
= "Health: #{@game.player.stat.current_health}/#{@game.player.stat.base_health}"
%br
= "Attack: #{SimpleEngine.max_attack(@game.player)}/#{@game.player.stat.base_attack}"
%br
= "Defense: #{SimpleEngine.max_defense(@game.player)}/#{@game.player.stat.base_defense}"
%br
= "XP: #{@game.player.stat.xp.to_i}"
%br
%br
