%h1
  Current Game

%h2
  Description

%h3
  Status

= "Player: #{@game.player.name}"
%br
= "Current position: (#{@box.x}, #{@box.y})"
%br
= "Current health: #{@game.player.stat.current_health}/#{@game.player.stat.base_health}"
%br
= "Available Paths: #{@box.paths}"

%h3
  Surroundings
%p
  = @box.description.text
= image_tag @box.description.url

%h3
  NPCs
- if @box.npc && !@box.npc.stat.dead?
  %strong
    = @box.npc.description.name
  %p
    = @box.npc.description.text
  = image_tag @box.npc.description.url
  %br
    = "NPC current health: #{@box.npc.stat.current_health}"
- else
  None

%h3
  Items
- if @box.npc && !@box.npc.stat.dead?
  Defeat the NPC to see what's in this room!
- else
  - if !@box.items.empty?
    - @box.items.each do |item|
      = "#{item.description.name}: #{item.description.text}"
      %br
      = image_tag item.description.url
      %br
      = link_to "Take: #{item.description.name}", edit_game_path(id: @game.id, game_action: 't')
  - else
    There's nothing useful here...


%h2
  Actions

%strong
  Move
%br
= link_to 'North', edit_game_path(id: @game.id, game_action: 'n')
%br
= link_to 'West', edit_game_path(id: @game.id, game_action: 'w')
= link_to 'East', edit_game_path(id: @game.id, game_action: 'e')
%br
= link_to 'South', edit_game_path(id: @game.id, game_action: 's')
%br
%strong
  Attack
%br
= link_to 'Attack', edit_game_path(id: @game.id, game_action: 'a')
