.container-fluid
  .row.fixed-window
    .col-md-3
      .hidden-xs.hidden-sm
        = render 'grid'
    .col-md-6
      .hidden-sm.hidden-md.hidden-lg
        = render 'hud'
      = render 'box'
    .col-md-3
      = render 'npc'
      = render 'item'

  %hr
  .visible-xs-block.visible-sm-block.hidden-md.hidden-lg
    = render 'feed'
    %hr

  .row
    .col-sm-3
      = render 'status'
    .col-sm-6
      .visible-xs-block.visible-sm-block.hidden-md.hidden-lg
        = render 'grid'
      .hidden-xs.hidden-sm.visible-md-block.visible-lg-block
        = render 'feed'
    .col-sm-3
      = render 'inventory'

  = render 'admin'

- if @box
  #spacer
  #footer
    = render 'console'
