.container-fluid
  .row
    .col-md-3
      .hidden-xs.hidden-sm
        = render 'grid'
    .col-md-6
      = render 'box'
    .col-md-3
      = render 'npc'
      = render 'item'

  %hr
  .hidden-xs.visible-sm-block.hidden-md.hidden-lg
    = render 'actions'
    %hr

  .row
    .col-sm-3
      = render 'status'
    .col-sm-6
      .visible-xs-block.visible-sm-block.hidden-md.hidden-lg
        = render 'grid'
      .hidden-xs.hidden-sm.visible-md-block.visible-lg-block
        = render 'actions'
    .col-sm-3
      = render 'inventory'
